<!-- displaying articles -->
{{post.title}}
{{post.body}}
{{format_date post.createdAt}}
<br />
<br />

<!-- displaying form and comments-->
{{#if post.Comments}}
  <ul class="comment-list">
    {{#each post.Comments}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}
<!-- only display if logged in -->
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea class="ml-5" name="comment-body"></textarea>
    </div>

    <div>
      <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
    </div>

  </form>
{{/if}}

{{post.comments}}

{{#if loggedIn}}
  <script src="/js/comment.js"></script>
{{/if}}